@media (min-width: 768px) {
    nav ul {
        display: flex;

    }

    @media (max-width: 768px) {
        .content-container {
            flex-direction: column;
            /* Switch to column layout for smaller screens */
        }
    }

    #menu-toggle {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}